<div class="panel panel-default">
  <div class="panel-body">
    <h1>Editing City Maker</h1>

    <%= render 'form' %>

    <%= link_to 'Show', @city_maker %> |
    <%= link_to 'Back', city_makers_path %>
  </div>
</div>
