<div class="jumbotron text-center">
  <h2>List and discover common service providing entrepreneurs.</h2><br />
  <p>CityMakers are the people who are the building blocks of a city but are often neglected unless their service is required. This project aims to map all low to middle class entrepreneurs whose virtual presence is as important as their physical one. </p>
  <% unless user_signed_in? %>
    <br />
    <p>Please <a href="<%= new_user_session_path %>">Sign in</a> or <a href="<%= new_user_registration_path %>">Create an account</a>. </p>
  <% end %>
</div>
