<div class="panel panel-default">
  <div class="panel-heading">
    <h2 style="margin: 0;"><%= @category.name %></h2>
  </div>
  <div class="panel-body">
    No records found.
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
